/*global styling rules start*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(255, 86, 86);
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: white;
}

a{
    text-decoration: none;
}
/*global styling rules end*/

/*card styling rules start*/
.card-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}

.card{
    margin: 10px;
    width: 300px;
    box-shadow: 5px 5px 10px 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card h2{
    background-color: rgb(63, 63, 255);
    padding: 8px 0 8px 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.card-body{
    background-color: rgb(241, 241, 241);
    padding: 20px 10px;
}

.card-body > *{
    padding: 10px;
    border-top: 1px solid rgb(169, 169, 169);
    border-left: 1px solid rgb(169, 169, 169);
    border-right: 1px solid rgb(169, 169, 169);
    background-color: white;
}

.card-body > :last-child{
    border-bottom: 1px solid rgb(169, 169, 169);;
}
/*card styling rules end*/